@media screen and (max-width: 480px) {
    .about {
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */

    }
   .about__left {
       order: 2;
       width: 400px;
       text-align: center;
   }
   .about__right {
       order: 1;
   }
.about__left .about__header {
    
    font-size: 20px;
    color: white;
    margin-bottom: 50px;

}

.about__left .about__text{
    width: 200px;
    color: white;
    margin-bottom:50px;
} 
}

.about {
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about__left .about__header {
    font-size: 50px;
    color: white;
    margin-bottom: 50px;
}

.about__left .about__text {
    width: 600px;
    color: white;
    margin-bottom:50px;
}

.btn__cv{
    width: 150px;
    height: 50px;
    border-radius:1px solid white;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

.about__outer {
    border: 1px solid #5b1b3e;
    padding: 10px;
}

.about__outer .outer__img {
    border: 1px solid #5b1b3e;
}

.about .about__right .about__outer .outer__img img{
    width: 300px;
    height: 300px;
    padding: 10px;
}