

@media screen and (max-width: 480px){
    .home {
        flex-direction: column;
        text-align: center;
    }
    
  .home__right .right__icon {
    display: flex;
    margin-left: 60px;
    /* justify-content: space-between; */
    justify-content: center;
    font-size: 1em;
    width: 250px;
    
  }
  .home__right .right__icon .icon__item{
    margin-right: 10px;
    text-decoration: none;
  }   
  .home__right .right__title {
    font-size: 20px;
    display: block;
    font-weight: bold;
}
.home__right .left__title {
    font-size: 20px;
    display: block;
    font-weight: bold;
} 
}

.home {
    margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home__left .left__outer {
  border: 2px solid #5b1b3e;

}

.home__left .left__outer .left__img{
    width: 300px;
    height: 300px;
    padding: 15px;
}

.home__right {
    color: white;
}

.home__right .home__title {
    padding: 10px;
}
.home__right .right__title {
    font-size: 2em;
    display: block;
    font-weight: bold;
}
.home__right .left__title {
    font-size: 2em;
    display: block;
    font-weight: bold;
}

.home__right .right__text {
    margin: 10px 0px;
}
.home__right .right__find {
    margin: 10px 0px;
}

.home__right .right__icon {
    display: flex;
    /* justify-content: space-between; */
    font-size: 2em;
    width: 250px;
}
.home__right .right__icon .icon__item{
    margin-right: 10px;
    text-decoration: none;
}
.facebook,.twitter,.github,.linkedin {
 color: white;
}

.facebook:hover {
    color: #0e8cf1;
}
.twitter:hover {
    color: #1da1f2;
}
.linkedin:hover {
    color: #0a66c2;
}
.github:hover{
    color: #24292e;
}


.home__right .right__btn{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.btn {
    width: 120px;
    height: 50px;
    border-radius: 20px;
    border: 0.4px solid white;
    color: white;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
.btn:hover {
    background-color: #ff0413;
    border: none;
}
.btn-active {
    border: none;
    background-color: #ff0413;
}
