

@media screen and (max-width: 480px) {
 .navbar{
     flex-direction: column;
     background-color:#0f0e3a;
     z-index: 12;
     position: fixed;
     top: 0;
 }
 .navbar__logo {
        font-size: 10px;
        font-weight: bolder;    
        margin-right: 100px;
 }
 .navbar__item--active {
    background-color: #ff0413;
}
 .navbar__menu {
     display: flex;
     flex-direction: column;
     background-color:#0f0e3a;
     height: 500px;
     width: 100%;
     display: none;
 }

}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    border-bottom: 1px solid rgb(102, 101, 101);
    box-shadow: 0px 0px 13px 0px;
    transition: all 1s;
}
.navbar__logo {
    margin-left: 10px;
}
.navbar__logo .left, .right {
    
    font-size: 4em;
    font-weight: bolder;
}

.navbar__logo .left {
    color: #f72f31;
}
.navbar__logo .right {
    color:#4d5057 ;
}

.navbar__menu .navbar__item {
    padding: 10px 20px;
    margin: 7px;
    width: 40px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.navbar__item:hover {
    background-color: #ff0413;
    transition: 200ms;
}

.navbar__item--active {
    background-color: #ff0413;
}