* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .app {
    width: auto;
  }
}

body {
  background-color:#0f0e3a;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: 1s;
}